*.py[cod]
*.manifest
*.spec
*.so
*.mo
*.pot
*.log

__pycache__/
.DS_Store
Thumbs.db
.env.local
.pycharm_helpers/
celerybeat-schedule
pip-log.txt
pip-delete-this-directory.txt
node_modules/

/.virtualenv/
/settings.local.yml
/.idea/
/.vagrant/machines/
/Vagrantfile.local

/data/media/*/*
/data/static/*
!/data/static/cache/
